# Python Learning Resources

## Official Python Tutorial
The official Python documentation tutorial. It's a great place to start learning Python from scratch, covering all the basics and more.  
[Official Python Tutorial](https://docs.python.org/3/tutorial/index.html)

## 60 Days of Python - YouTube Playlist
A comprehensive YouTube playlist designed to teach you Python, covering various topics to build your programming skills.  
[60 Days of Python - YouTube Playlist](https://www.youtube.com/playlist?list=PLKdU0fuY4OFf7qj4eoBtvALAB_Ml2rN0V)

## 60 Days of Python - GitHub Repository
The GitHub repository for the 60 Days of Python series. It includes all the code and resources used in the YouTube playlist.  
[60 Days of Python - GitHub Repository](https://github.com/rashakil-ds/60-Days-of-Python-by-Study-Mart-AI-QUEST)

## Python Notes for Professionals - PDF
A free PDF book that offers a wide range of Python notes for professionals. It's a useful reference guide for both beginners and advanced users.  
[Python Notes for Professionals - PDF](https://github.com/rashakil-ds/Top-Data-Science-AI-Book-Collection/blob/main/Books/Python%20Notes%20For%20Professionals.pdf)

# Let's Talk About Python Language

# Python Input/Output (I/O)

Python provides numerous ways to handle input and output. This is essential for interacting with the user and for reading and writing data to and from files.

## Input in Python

To get input from the user, you can use the `input()` function. This function reads a line from the input (usually from the user), converts it to a string, and returns it.

### Example:
```python
# Getting user input
name = input("Enter your name: ") #ami input debo
print("Hello, " + name + "!") #computer output print korbe

In [1]:
print('hello world') # b

hello world

In [6]:
print('hello world','ok', sep=' && ', end='    -------------   ') #shift+tab
print('hello world','ok')

hello world && ok    -------------   hello world ok

In [7]:
x = input()

5

In [8]:
y = input()

5

In [9]:
x+y

'55'

In [10]:
x = int(input()) # datatype changing
y = int(input())

5
5

In [11]:
x+y

10

In [12]:
x = x+y
x

10

In [13]:
x = x+y
x

15

In [14]:
x = x-y
x

10

# Python Variables

## What is a Variable?
Variables are like a container for storing data. Compares to other programming languages, Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

## Variable Naming Rules
When naming variables in Python, there are a few rules to keep in mind:
1. **Variable names must start with a letter or the underscore character**.
2. **A variable name cannot start with a number**.
3. **Variable names can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )**.
4. **Variable names are case-sensitive (age, Age, and AGE are three different variables)**.
5. **Reserved words (keywords) cannot be used as variable names**. ['Reserved words in Python'](https://flexiple.com/python/python-reserved-words)

## Creating Variables
In Python, a variable is created the moment you first assign a value to it. Unlike other programming languages, you don't need to declare the type of the variable.

### Example:
```python
x = 5
y = "Hello, aiQuest Intelligence!"

In [15]:
x = ['']
mar_qu_mov_2024 = [''] # jara 2024 a mara gese

In [16]:
var1 = 'ai'

In [17]:
var1

'ai'

In [18]:
1var = 10 # invalid

SyntaxError: invalid syntax (4256868957.py, line 1)

In [19]:
var-1 = 10

SyntaxError: cannot assign to operator (3170076202.py, line 1)

In [20]:
var_1 = 10

In [21]:
var_1

10

In [22]:
var# = 10

NameError: name 'var' is not defined

In [23]:
var_@ = 10

SyntaxError: invalid syntax (4252827827.py, line 1)

In [24]:
age = 10
Age = 20
AGE = 30

In [25]:
AGE

30

In [26]:
age

10

In [27]:
Age

20

# Multi-Word Variable Names in Python

When naming variables that consist of multiple words, it's important to follow certain conventions to ensure readability and maintainability of your code. Here are the common conventions used in Python:

## 1. Snake Case
Snake case is the most common naming convention in Python. In this style, words are separated by underscores (`_`), and all letters are lowercase.

### Example:
```python
first_name = "Rashedul Alam"
last_name = "Shakil"
user_age = 27

In [28]:
first_name = "Rashedul Alam"
last_name = "Shakil"
user_age = 27

In [29]:
first_name

'Rashedul Alam'

In [30]:
first name = 'RA' #DEA JABE NA

SyntaxError: invalid syntax (4211822679.py, line 1)

## 2. Camel Case
Camel Case is a naming convention where the `first letter` of the first word is lowercase, and the first letter of each subsequent concatenated word is `capitalized`. This convention is commonly used in many programming languages but is less common for variable names in Python.

### Example:
```python
firstName = "Rashedul Alam"
lastName = "Shakil"
userAge = 27

In [31]:
firstName = "Rashedul Alam"
lastName = "Shakil"
userAge = 27

In [32]:
lastName

'Shakil'

## 3. Pascal Case in Python

Pascal Case is similar to Camel Case, but with Pascal Case, the first letter of every word is capitalized, including the first word. This helps in distinguishing class names from variable names, which typically use Snake Case in Python.

### Example:
```python
FirstName = "Rashedul Alam"
LastName = "Shakil"
UserAge = 27

In [33]:
FirstName = "Rashedul Alam"
LastName = "Shakil"
UserAge = 27

In [34]:
LastName

'Shakil'

In [35]:
FirstName

'Rashedul Alam'

# Local Vs. Global Variables

1. `Global Variable:` Variables that are created outside of a function are known as global variables. Global variables can be used by everyone, both inside of functions and outside. <br>
 
2. `Local Variable:` Variables that are created inside of a function are known as local variables. local variables can be used inside of the function.

In [36]:
def myfunction():
    b = 10 # local
    d = 20
    return b+d

In [37]:
myfunction()

30

In [38]:
myfunction()

30

In [39]:
b

NameError: name 'b' is not defined

In [40]:
d

NameError: name 'd' is not defined

In [41]:
b = 10 # Global -> outside function
d = 20

def myfunction():
    print(b+d)

In [42]:
myfunction()

30

In [43]:
b

10

In [44]:
d

20

In [58]:
def myfunction():
    global c
    c = 10 # local
    v = 20
    print(c+v)

In [59]:
myfunction()

30

In [60]:
c

10

In [53]:
myfunction()

In [54]:
def add():
    global m
    m = 100
    print(m)

In [55]:
add()

100

In [56]:
m

100

In [61]:
def add2(j,k):
    return j+k
add2(10,20)

30

In [62]:
add2(30,60)

90

In [63]:
add2(100, 500)

600

# All about Python Strings

# All About Python Strings

## Introduction
Strings in Python are sequences of characters enclosed in quotes. They are one of the most commonly used data types in Python, allowing you to work with text data.

## Creating Strings
You can create a string in Python by enclosing characters in either single quotes `'`, double quotes `"`, or triple quotes `'''` or `"""`.

### Examples:
```python
single_quote_string = 'Hello'
double_quote_string = "World"
triple_quote_string = '''This is a
multi-line string.'''
another_triple_quote_string = """This is also a
multi-line string."""

In [64]:
txt = 'data science' # set of char is called string
txt

'data science'

In [65]:
type(txt)

str

In [67]:
type(x)

list

In [68]:
type(m)

int

In [70]:
import sys
sys.getsizeof(txt)

61

In [71]:
sys.getsizeof(m)

28

# Common String Methods in Python

## String Methods

- `capitalize()`
- `casefold()`
- `center()`
- `count()`
- `encode()`
- `endswith()`
- `expandtabs()`
- `find()`
- `format()`
- `format_map()`
- `index()`
- `isalnum()`
- `isalpha()`
- `isascii()`
- `isdecimal()`
- `isdigit()`
- `isidentifier()`
- `islower()`
- `isnumeric()`
- `isprintable()`
- `isspace()`
- `istitle()`
- `isupper()`
- `join()`
- `ljust()`
- `lower()`
- `lstrip()`
- `maketrans()`
- `partition()`
- `replace()`
- `rfind()`
- `rindex()`
- `rjust()`
- `rpartition()`
- `rsplit()`
- `rstrip()`
- `split()`
- `splitlines()`
- `startswith()`
- `strip()`
- `swapcase()`
- `title()`
- `translate()`
- `upper()`
- `zfill()`

These methods provide various ways to manipulate and handle strings in Python, allowing for extensive text processing and formatting capabilities.

In [72]:
x = 'Data Science ai'
x.capitalize()

'Data science ai'

In [73]:
x.title()

'Data Science Ai'

In [74]:
x.split()

['Data', 'Science', 'ai']

In [75]:
x.lower()

'data science ai'

In [76]:
x.upper()

'DATA SCIENCE AI'

In [77]:
x.casefold()

'data science ai'

# Staring Formating

# String Formatting in Python

String formatting in Python allows you to create formatted strings by embedding values and expressions into string literals. There are several ways to format strings in Python:

## 1. Using the `%` Operator
The `%` operator (also known as the printf operator) allows you to format strings using placeholders.

### Example:
```python
name = "Shakil"
age = 27
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)  # Output: My name is Shakil and I am 27 years old.

In [78]:
age = 27
print('My age is {} years '.format(age))

My age is 27 years

In [79]:
print('my age is', x, 'years')

my age is Data Science ai years

In [80]:
name = "Shakil"
age = 27
formatted_string = "My name is %s and I am %d years old." % (name, age)

In [81]:
formatted_string

'My name is Shakil and I am 27 years old.'

# If-Else Statements

# If-Else Statements in Python

## Introduction
If-else statements in Python are used to execute a block of code based on a condition. If the condition is true, a certain block of code is executed. If the condition is false, an alternative block of code can be executed.

## Syntax
The basic syntax of an if-else statement is:
```python
if condition:
    # code block to execute if condition is true
else:
    # code block to execute if condition is false

In [82]:
x = 18
y = 40
z = 30

if x>y:
    print('no!')
    print(x+10)
    
elif (y>x):
    print('ok 1')
    print(x+y)

else:
    print('Done!')

ok 1
58

In [83]:
x = 18
y = 40
z = 30

if x>y:
    print('no!')
    print(x+10)

if (y>x):
    print('ok 1')
    print(x+y)

if (y>x):
    print('ok 2')
    print(x+y)
    
else:
    print('Done!')

ok 1
58
ok 2
58

In [86]:
x = 18
y = 40
z = 30

if x>y:
    print('no!')
    print(x+10)

elif (y>x):
    if x%2==1:
        print('all done')
    else:
        print('i am done')


elif (y>x):
    print('ok 2')
    print(x+y)
    
else:
    print('Done!')

i am done

In [87]:
x = 18
y = 40
z = 30

if x>y:
    print('no!')
    print(x+10)

elif (y>x):
    if x%2==0:
        print('all done')
    else:
        print('i am done')

elif (y>x):
    print('ok 2')
    print(x+y)
    
else:
    print('Done!')

all done

# For Loops in Python

## Introduction
A `for` loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) and execute a block of code for each item in the sequence. It is one of the most common control flow statements in Python.

## Syntax
The basic syntax of a `for` loop is:
```python
for item in sequence:
    # code block to execute

In [88]:
print(1)
print(2)
print(3)

1
2
3

In [89]:
range(10)

range(0, 10)

In [93]:
#range(start, end, increment/decrement)
for i in range(8):             # until n-1
    print(i, 'Seven sisters')
    #print(i+1)

0 Seven sisters
1 Seven sisters
2 Seven sisters
3 Seven sisters
4 Seven sisters
5 Seven sisters
6 Seven sisters
7 Seven sisters

In [94]:
for i in range(2, 8, 1):             # until n-1
    print(i, 'Seven sisters')
    #print(i+1)

2 Seven sisters
3 Seven sisters
4 Seven sisters
5 Seven sisters
6 Seven sisters
7 Seven sisters

In [95]:

for i in range(2, 8, 2):             # until n-1
    print(i, 'Seven sisters')

2 Seven sisters
4 Seven sisters
6 Seven sisters

In [96]:

for i in range(10, 1, -1):             # until n-1
    print(i, 'Seven sisters')

10 Seven sisters
9 Seven sisters
8 Seven sisters
7 Seven sisters
6 Seven sisters
5 Seven sisters
4 Seven sisters
3 Seven sisters
2 Seven sisters

In [97]:
txt.split()

['data', 'science']

In [100]:
for i in txt.split():
    print('I love',i)

I love data
I love science

# While Loops in Python

## Introduction
A `while` loop in Python is used to repeatedly execute a block of code as long as a given condition is true. It is useful for situations where you do not know beforehand how many times you need to repeat a block of code.

## Syntax
The basic syntax of a `while` loop is:
```python
while condition:
    # code block to execute

In [101]:
for i in range(2, 8, 1):             # until n-1
    print(i, 'Seven sisters')
    #print(i+1)

2 Seven sisters
3 Seven sisters
4 Seven sisters
5 Seven sisters
6 Seven sisters
7 Seven sisters

In [102]:
i = 1
while i<8:
    print(i, 'Seven sisters')
    i = i + 1

1 Seven sisters
2 Seven sisters
3 Seven sisters
4 Seven sisters
5 Seven sisters
6 Seven sisters
7 Seven sisters

In [103]:
i = 1
while i<8:
    i = i + 1
    print(i, 'Seven sisters')

2 Seven sisters
3 Seven sisters
4 Seven sisters
5 Seven sisters
6 Seven sisters
7 Seven sisters
8 Seven sisters